<a href="https://colab.research.google.com/github/tarunv7/AIML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# prompt: numpy

import numpy as np

In [22]:
# prompt: numpy

# Create a NumPy array
array = np.array([1, 2, 3, 4, 5])


# Print the array
print(array)

# Print the shape of the array
print(array.shape)

# Print the data type of the array
print(array.dtype)

# Access an element of the array
print(array[2])

# Slice the array
print(array[1:4])

# Add two arrays
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
print(array1 + array2)

# Multiply an array by a scalar
print(array * 2)

# Calculate the mean of the array
print(np.mean(array))

a = np.array([[12,33,4],[23,43,23],[33,44,56]])
print(np.sum(a))

a.sum()

[1 2 3 4 5]
(5,)
int64
3
[2 3 4]
[5 7 9]
[ 2  4  6  8 10]
3.0
271

array([ 49,  89, 133])

In [25]:
a

array([[12, 33,  4],
       [23, 43, 23],
       [33, 44, 56]])

In [24]:

a.sum(axis=1)

array([ 49,  89, 133])

In [28]:
a = np.array([[12,33,4],[23,43,23],[33,44,56]])
b = np.array([[12,22,4],[23,40,23],[23,44,36]])
np.vstack((a,b))

#vertical stack

array([[12, 33,  4],
       [23, 43, 23],
       [33, 44, 56],
       [12, 22,  4],
       [23, 40, 23],
       [23, 44, 36]])

In [29]:
#horizontal stack
a = np.array([[12,33,4],[23,43,23],[33,44,56]])
b = np.array([[12,22,4],[23,40,23],[23,44,36]])

np.hstack((a,b))

array([[12, 33,  4, 12, 22,  4],
       [23, 43, 23, 23, 40, 23],
       [33, 44, 56, 23, 44, 36]])

In [44]:
once =np.ones((5,5))
once

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [42]:
once =np.ones((5,5))
once
once *10

array([[10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10.]])

In [33]:
zero =np.zeros((5,5))
zero

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [31]:
zero =np.zeros(333)
zero

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [59]:
#random numbers
np.random.seed(3) ##maintain same numbers use seed

a= np.random.randint(10,100,(3,4))

a

array([[34, 13, 66, 82],
       [10, 31, 29, 84],
       [51, 20, 31, 48]])

In [56]:
#random numbers
np.random.seed(3) ##maintain same numbers use seed

np.random.randint(10,100,(3,3))

array([[34, 13, 66],
       [82, 10, 31],
       [29, 84, 51]])

In [55]:
#random numbers
np.random.seed(2) ##maintain same numbers use seed

np.random.randint(10,100,20)

array([50, 25, 82, 32, 53, 92, 85, 17, 44, 59, 85, 95, 57, 73, 41, 30, 47,
       49, 77, 14])

In [61]:
a.reshape(4,3)
a

a.shape

(3,4)

(3, 4)

In [63]:
a.reshape(2,6)
a

array([[34, 13, 66, 82],
       [10, 31, 29, 84],
       [51, 20, 31, 48]])

In [ ]:
##core data type
#List- []
#tuple ()
#dictionary {}

In [67]:
ml = [1,2,3,4,5]

In [68]:
print (ml[0])

1

In [69]:
print(ml[-1])

5

In [70]:
ml[2] =10
print(ml)

[1, 2, 10, 4, 5]

In [71]:
ml.append(6)
print(ml)

[1, 2, 10, 4, 5, 6]

In [72]:
##tuple
mt = (1,2,3,4,5)

In [73]:
print(mt[0])

1

In [77]:
##dict

md = {'name' : 'tj','age':30, 'city' : 'NY'}

In [78]:
print(md['name'])
print(md['age'])

tj
30

In [79]:
md['city']

'NY'

In [80]:
import pandas as pd

In [83]:
test = [1,2,3,4,5]
s1 = pd.Series(test)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [86]:
test = [1,2,3,4,5]
sub = ['tt','sda','dds','sdf','das']
s1 = pd.Series(test,index=sub)

s1

tt     1
sda    2
dds    3
sdf    4
das    5
dtype: int64

In [87]:
type(s1)

pandas.core.series.Series

In [88]:
dict = {'name' : 'tj','age':30, 'city' : 'NY'}
s2 = pd.Series(dict)
s2

name    tj
age     30
city    NY
dtype: object

In [90]:
s3 = s1+s2
s3

age     NaN
city    NaN
das     NaN
dds     NaN
name    NaN
sda     NaN
sdf     NaN
tt      NaN
dtype: object

In [91]:
s3.mean()

nan

In [92]:
s3.sum()

0

In [ ]:
s1.sort.values(ascending = )

In [95]:
import pandas as pd

In [97]:
s3

age     NaN
city    NaN
das     NaN
dds     NaN
name    NaN
sda     NaN
sdf     NaN
tt      NaN
dtype: object

In [99]:
df = pd.DataFrame(s1)

df

     0
tt   1
sda  2
dds  3
sdf  4
das  5